AZURE_SQL_SERVER=sql-candidatos2026-dev-xxxxxx.database.windows.net
AZURE_SQL_DATABASE=Elecciones2026DW
AZURE_SQL_USER=sqladminuser
AZURE_SQL_PASSWORD=CAMBIAR
ODBC_DRIVER=ODBC Driver 18 for SQL Server
